* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header h1 {
    margin: 0;
    font-size: 36px;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
}

.social-icons a i {
    font-size: 24px;
}

.menu {
    background-color: navy;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 5px 20px;
    font-size: 14px;
    transition: text-decoration 0.3s ease;
}

.menu a:hover {
    text-decoration: underline;
}

.wrapper {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

section#Home {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section#Home img {
    max-width: 100%;
    height: auto;
}

.kolom {
    padding: 20px;
}

.kolom .deskripsi {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Comic Sans MS', sans-serif;
}

.kolom h1 {
    font-size: 32px;
    font-weight: 800;
    font-family: 'Comic Sans MS', sans-serif;
}

.content {
    padding: 16px;
}

h1 {
    font-size: 32px;
    font-weight: 800;
    font-family: 'Comic Sans MS', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .news-box {
        width: 48%;
    }
}

.news-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.news-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.news-box img:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
}

.news-date {
    font-size: 12px;
    color: black;
    margin-top: 5px;
}

.news-content {
    padding: 10px;
}

.news-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    color: #fff;
    background-color: #444;
    padding: 8px 12px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #666;
}

.footer {
    background-color: #
